
*{
    margin: 0;
    padding: 0;

}

.decale{
    background-color: rgb(255, 0, 15);
    display: flex;
    width: 65rem;
    height: 81rem;
    flex-direction: column;
    align-items: center;
}
.ouais{
    width: 80rem;
    height: 81rem;
    display: flex;
    background-color: #000091;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}
.ouaiss{
    display: flex;
}
.crane{
    width: 15rem;
    height: 15rem;
    border-radius: 150px;
    margin-top: 10rem;
}
.nom{
    margin-left: 1rem;
    margin-top: -15rem;
    margin-top: 1rem;
    font-size: 4rem;
    color: azure;
}
.comp{
    margin-top: 1rem;
    color: azure;
}
.competance{
    vertical-align: center;
    align-self: auto;
    height: 3rem;
    font-size: 3rem;
}
.liste{
display: flex;
height: 5rem;
flex-direction: column;
font-size: 2rem;
color: azure; ;
}
.contact{
    font-size: 1.5rem;
    color: azure;
}
.millieux{
    height: 53rem;
    width: 80rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-top: 27rem;
}
.exp{
    margin-top: 20rem;
}
.mail{
    width: 60px;
    height: 60px;
}